<div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="/donate">Donate</a>
        <a href="/vaccine">Vaccine</a>
        <a href="/hospital">Hospital</a>
        <a href="/containment">Containment Zone</a>
        <a href="/contact">Contact Us</a>
        {{!-- <div class="dropdown">
            <a href="/donate"><button class="dropbtn">Donate
            <i class="fa fa-caret-down"></i>
          </button></a>
            <div class="dropdown-content">
                <a href="/register">Goodies</a>
                <a href="/money">Money</a>
                <a href="/contact">Our Team</a>
            </div>
        </div> --}}
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>