<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>contact us page</title>
	<link rel="stylesheet" type="text/css" href="/contact/style5.css">
</head>
<body>
	<div class="contactus">
		<div class = "title">
			<h2>CONTACT US</h2>
		</div>
		<div class="box">
			<div class= "contact form">
				<h3>send a message</h3>
				<form>
					<div class="formbox">
						<div class="row50">
							<div class="inputBox">
								<span>First Name</span>
								<input type="text" placeholder="john">
							</div>
							<div class="inputBox">
								<span>Last Name</span>
								<input type="text" placeholder="doe">
							</div>

						</div>
						<div class="row50">
							<div class="inputBox">
								<span>Email</span>
								<input type="text" placeholder="johndoe@gmail.com">
							</div>
							<div class="inputBox">
								<span>Mobile</span>
								<input type="text" placeholder="+91 987 654 3210">
							</div>
						</div>
						<div class="row100">
							<div class="inputBox">
								<span>Message</span>
								<textarea placeholder="write your message here..."></textarea>
							</div>
						</div>
						<div class="row100">
							<div class="inputBox">
								<input type="submit" value="send">
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class= "contact info">
				<h3>Contact info:-</h3>
				<div class="container">
        <div class="card">
            <div class="cardside front">
            	 <div id="my-image">
				<img src="/contact/uttam.jpg">
            </div>

            	<div>UTTAM KUMAR</div></div>
            <div class="cardside back">
            	<div class="infobox">
            		<div>Information</div>
            	<span><ion-icon name="mail"></ion-icon></span>
            	<a href="mail to:9135uttam@gmail.com">9135uttam@gmail.com</a>
            </div>
            <div>
            	<span><ion-icon name="call"></ion-icon></span>
            	<a href="tel:+919334781213">+919334781213</a>

            </div>
            	</div>

        </div>

    </div>
    				<div class="container">
        <div class="card">
            <div class="cardside front">
            	 <div id="my-image">
				<img src="/contact/sahil.jfif">
            </div>

            	<div>SAHIL RAJ</div></div>
            <div class="cardside back">
            	<div class="infobox">
            		<div>Information</div>
            	<span><ion-icon name="mail"></ion-icon></span>
            	<a href="mail to:rajsahilcoder@gmail.com">rajsahilcoder@gmail.com</a>
            </div>
            <div>
            	<span><ion-icon name="call"></ion-icon></span>
            	<a href="tel:+919693438548">+919693438548</a>

            </div>
            	</div>

        </div>

    </div>
    				<div class="container">
        <div class="card">
            <div class="cardside front">
            	 <div id="my-image">
				<img src="/contact/smita.jpg">
            </div>

            	<div>SMITA SEN</div></div>
            <div class="cardside back">
            	<div class="infobox">
            		<div>Information</div>
            	<span><ion-icon name="mail"></ion-icon></span>
            	<a href="mail to:smitasen1508@gmail.com">smitasen1508@gmail.com</a>
            </div>
            <div>
            	<span><ion-icon name="call"></ion-icon></span>
            	<a href="tel:+917562957372">+917562957372</a>

            </div>
            	

        </div>

    </div>
    				<div class="container">
        <div class="card">
            <div class="cardside front">
            	 <div id="my-image">
				<img src="/contact/rinkal.jfif">
            </div>

            	<div>RINKAL RANJAN</div></div>
            <div class="cardside back">
            	<div class="infobox">
            		<div>Information</div>
            	<span><ion-icon name="mail"></ion-icon></span>
            	<a href="mail to:rinkalranjan2468@gmail.com">rinkalranjan2468@gmail.com</a>
            </div>
            <div>
            	<span><ion-icon name="call"></ion-icon></span>
            	<a href="tel:+919113467072">+919113467072</a>

            </div>
            	</div>

        </div>

    </div>
             
            
            
           
				
			<div class= "contact map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.3755737218844!2d77.1239061146161!3d13.32689789062347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb02e826fb691ef%3A0xe78608813c36f380!2sSiddaganga%20Institute%20Of%20Technology%2C%20Tumakuru!5e0!3m2!1sen!2sin!4v1639149546867!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</div>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>