<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/containment.css">
</head>
<body>
   <div class="head">
       <p> CONTAINMENT ZONE</p>
   </div>
    <br>
   
    <div class="card">
        <img src="/images/containment/bihar.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">BIHAR</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/containment/karnatka1.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">KARNATKA</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/containment/tamilnadu.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">TAMILNADU</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/containment/delhi.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">DELHI</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/containment/bihar.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">MAHARASHTRA</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
     
    <div class="card">
        <img src="/images/containment/bihar.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">BIHAR</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/containment/karnatka1.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">KARNATKA</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/containment/tamilnadu.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">TAMILNADU</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/containment/delhi.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">DELHI</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/images/containment/bihar.jpg">
        <div class="card-content">
          <a href="#">
            <p class="card-category"><a href="https://www.livehindustan.com/tags/list-of-containment-zones-in-bihar">MAHARASHTRA</a><i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
    </div>
     
     
</body>
</html>