<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
    <link rel="stylesheet" href="/css/donate.css">
    
    {{>navbar}}
</head>

<body id="grad">
    <div class="container">
        <!-- fdkfhvd -->
        <section></section>
        <!-- hcsdl. -->
        <!-- <p class="text">
            DONATE US
        </p> -->
        <!-- <p class="text1">Extend a Helping Hand.Give Hope</p> -->
        <img src="/images/donateus.jpg" class="img">
        <!-- jrk.hmdfh -->
        <div class="containerm">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="animate-charcter"> DONATE US</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="text3">
            <p>How we works</p>
        </div>
    </div>
    <div class="container1">

        <div class="card">
            <p class="work">
                All nonprofits listed on the platform are cleared for legal and compliance procedures. You can be assured that we make sure that they adhere to all the requirements as laid by the law.
            </p>
        </div>
        <div class="card">
            <p class="work"> We ensure your donations are being channelled to the program and organization of your choice. We will bring you the most reliable giving options. All non crowdfunding programs that we list have successfully cleared an exhaustive due diligence
                process covering legal, financial, and implementation aspects.
            </p>
        </div>


        <div class="card">
            <p class="work"> We will give you regular updates on the programs that you donate towe'll share their name, picture and more donors-icon Learn how you make a change in their lives through our reports lives-impacted-icon Every beneficiary you support is under
                the care of GiveAssured nonprofits trusted-icon Your choice to give monthly will make a long-lasting impact
            </p>
        </div>
        <div class="card">
            <p class="work"> We take utmost care of your personal information and will never share or sell your details to third parties. All your sensitive information like credit card or bank details are not stored in our system and we never call donors to ask for their
                Debit or Credit Card PIN or Net banking password.</p>
        </div>
        <div class="btnn">
        <div class="button"><a href="/money">MONEY</a></div>
        <div class="button"><a href="/register">GOODIES</a></div>
    </div>
        <!-- 
    </div>
    <section class="newsbox">
        <div class="news">

            <p> This variant has a large number of mutations, some of which are concerning. Preliminary evidence suggests an increased risk of reinfection with this variant, as compared to other VOCs. The number of cases of this variant appears to be increasing
                in almost all provinces in South Africa. Current SARS-CoV-2 PCR diagnostics continue to detect this variant. Several labs have indicated that for one widely used PCR test, one of the three target genes is not detected (called S gene dropout
                or S gene target failure) and this test can therefore be used as marker for this variant, pending sequencing confirmation. Using this approach, this variant has been detected at faster rates than previous surges in infection, suggesting
                that this variant may have a growth advantage. <br><br>
                <a href="https://www.who.int/news/item/26-11-2021-classification-of-omicron-(b.1.1.529)-sars-cov-2-variant-of-concern" target="_blank">Read More </a></p>
        </div>
        <div class="news">

            <p> People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. Anyone can have mild to severe symptoms. People with these symptoms
                may have COVID-19:
                <br> Fever or chills <br> Cough <br> Shortness of breath or difficulty breathing <br> Fatigue <br> Muscle or body aches <br> Headache <br> New loss of taste or smell <br> Sore throat <br> Congestion or runny nose <br> Nausea or vomiting
                <br> Diarrhea <br> This list does not include all possible symptoms. CDC will continue to update this list as we learn more about COVID-19. Older adults and people who have severe underlying medical conditions like heart or lung disease
                or diabetes seem to be at higher risk for developing more serious complications from COVID-19 illness. <br><br><a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank"> Read More </a></p>
        </div>
        <div class="news">

            <p> Raise an issue or get solutions to your CoWIN account and vaccination certificate related issues instantly India Is Running The World’s Largest Vaccination Drive.Be a Fighter! If you are fully or partially vaccinated, you can now share your
                vaccination status in your social circle. Let's encourage our friends and followers in joining India's battle against COVID-19. <br><br><a href="https://www.cowin.gov.in/" target="_blank"> Read More </a></p>
        </div>
    </section> -->


</body>

</html>