<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hospital/hospital.css">
    <title>hospital</title>
</head>

<body>
    <!-- slider starts here -->

    <!-- Slider -->
    <div id="slider">
        <div class="slides">
            <!--  first slider -->
            <div class="slider">
                <div class="legend"></div>
                <div class="content">
                    <div class="content-txt">
                        <h1>Protect yourself this flu season</h1>
                        <h2>It is likely that both COVID-19 and flu viruses will spread this fall and winter. So getting a flu vaccine during 2020-21 is more important than ever.
                            </h2>
                    </div>
                </div>
                <div class="image">
                    <img src="/images/hospital/online-marketing-hIgeoQjS_iE-unsplash.jpg">
                </div>
            </div>
            <!--  second slider -->
            <div class="slider">
                <div class="legend"></div>
                <div class="content">
                    <div class="content-txt">
                        <h1>Maintain a healthy life</h1>
                        <h2>Eat healthy foods and vegetables.Drink water and avoid eating oily foods.Avoid close contact and be safe.</h2>
                    </div>
                </div>
                <div class="image">
                    <img src="/images/hospital/vitalii-pavlyshynets-kcRFW-Hje8Y-unsplash.jpg">
                </div>
            </div>
            <!--    third slider -->
            <div class="slider">
                <div class="legend"></div>
                <div class="content">
                    <div class="content-txt">
                        <h1>Wash your hands frequently</h1>
                        <h2>Wash your hands often with soap and water for at least 20 seconds, especially after blowing your nose, coughing, sneezing or spending time in a public place.</h2>
                    </div>
                </div>
                <div class="image">
                    <img src="/images/hospital/kelly-sikkema-WIYtZU3PxsI-unsplash.jpg">
                </div>
            </div>
            <!--   fourth slider -->
            <div class="slider">
                <div class="legend"></div>
                <div class="content">
                    <div class="content-txt">
                        <h1>Avoid close contact</h1>
                        <h2>If someone inside your home becomes sick, they should be tested for COVID-19. If they test positive, they should isolate from other household members.</h2>
                    </div>
                </div>
                <div class="image">
                    <img src="/images/hospital/jamie-street-tb5A-QTI6xg-unsplash.jpg">
                </div>
            </div>
        </div>
    </div>




    <!-- slider ends here -->
    <!-- cards starts here -->
    <div class="titletag">
        <h1>HOSPITAL DETAILS</h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">ADARSHA HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:TUMAKURU,KARNATAKA <br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY
                    RATE:85% <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">SIDDAGANGA HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:TUMAKURU,KARNATAKA<br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY
                    RATE:85% <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">INDIRA GANDHI HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:PATNA,BIHAR <br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY RATE:85%
                    <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>


    </div>
    <div class="container">
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">KURZI HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:PATNA,BIHAR <br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY RATE:85%
                    <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">CITY HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:MUMBAI,MAHARASTRA <br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY
                    RATE:85% <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">NANAVATI HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:MUMBAI,MAHARASTRA <br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY
                    RATE:85% <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>


    </div> -->
    <div class="container">
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">APOLLO HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:DELHI NCR <br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY RATE:85%
                    <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">FORD HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:NOIDA,UTTARPRADESH <br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY
                    RATE:85% <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg"
                        width="100%" height="100%">
                    <div class="name">LIFE CARE HOSPITAL</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:RANCHI,JHARKHAND <br><br>OXYGEN:40 <br><br>BED:20<br> <br>RECOVERY RATE:85%
                    <br><br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br><br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>


    </div>
    <!-- section starts here -->
    <div class="titletag">
        <h1>RELATED NEWS HERE</h1>
    </div>
    <section class="newsbox">
        <div class="news">

            <p> This variant has a large number of mutations, some of which are concerning. Preliminary evidence
                suggests an increased risk of reinfection with this variant, as compared to other VOCs. The number of
                cases of this variant appears to be increasing in almost all provinces in South Africa. Current
                SARS-CoV-2 PCR diagnostics continue to detect this variant. Several labs have indicated that for one
                widely used PCR test, one of the three target genes is not detected (called S gene dropout or S gene
                target failure) and this test can therefore be used as marker for this variant, pending sequencing
                confirmation. Using this approach, this variant has been detected at faster rates than previous surges
                in infection, suggesting that this variant may have a growth advantage. <br><br>
                <a href="https://www.who.int/news/item/26-11-2021-classification-of-omicron-(b.1.1.529)-sars-cov-2-variant-of-concern"
                    target="_blank">Read More </a>
            </p>
        </div>
        <div class="news">

            <p> People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe
                illness. Symptoms may appear 2-14 days after exposure to the virus. Anyone can have mild to severe
                symptoms. People with these symptoms may have COVID-19:
                <br>
                Fever or chills <br>
                Cough <br>
                Shortness of breath or difficulty breathing <br>
                Fatigue <br>
                Muscle or body aches <br>
                Headache <br>
                New loss of taste or smell <br>
                Sore throat <br>
                Congestion or runny nose <br>
                Nausea or vomiting <br>
                Diarrhea <br>
                This list does not include all possible symptoms. CDC will continue to update this list as we learn more
                about COVID-19. Older adults and people who have severe underlying medical conditions like heart or lung
                disease or diabetes seem to be at higher risk for developing more serious complications from COVID-19
                illness. <br><br><a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html"
                    target="_blank"> Read More </a>
            </p>
        </div>
        <div class="news">

            <p> Raise an issue or get solutions to your CoWIN account and vaccination certificate related issues
                instantly
                India Is Running The World’s Largest Vaccination Drive.Be a Fighter! If you are fully or partially
                vaccinated, you can now share your vaccination status in your social circle. Let's encourage our friends
                and followers in joining India's battle against COVID-19. <br><br><a href="https://www.cowin.gov.in/"
                    target="_blank"> Read More </a></p>
        </div>
    </section>

    <!-- section ends here -->

    <!-- blood centre starts here -->
    <div class="titletag">
        <h1>BLOOD CENTRES</h1>
    </div>
    <div class="container">
        
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/adhy-savala-zbpgmGe27p8-unsplash.jpg" width="100%"
                        height="100%">
                    <div class="name">RED CIRCLE BLOOD CENTRE</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:TUMKUR,KARNATAKA <br><br>BLOOD GROUP <br><br>A+ : AVAILABLE <br>O+:
                    AVAILABLE <br>B+: UNAVAILABLE <br>O-: AVAILABLE <br>A-: UNAVAILABLE <br>AB-: UNAVAILABLE <br>AB+:
                    AVAILABLE <br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/adhy-savala-zbpgmGe27p8-unsplash.jpg" width="100%"
                        height="100%">
                    <div class="name">VIJAYA HOSPITAL BLOOD BANK</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:TUMKUR,KARNATAKA <br><br>BLOOD GROUP <br><br>A+ : AVAILABLE <br>O+:
                    AVAILABLE <br>B+: AVAILABLE <br>O-: UNAVAILABLE <br>A-: AVAILABLE <br>AB-: UNAVAILABLE <br>AB+:
                    AVAILABLE <br>CONTACT:<a href="tel:+91 812 790 7409"> 8127907409</a> <br>EMAIL:<a
                        href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
        <div class="card">
            <div class="cardside front">
                <div class="img"><img src="/images/hospital/adhy-savala-zbpgmGe27p8-unsplash.jpg" width="100%"
                        height="100%">
                    <div class="name">SANJEEVANI BLOOD BANK</div>
                </div>
            </div>
            <div class="cardside back">
                <div class="details">ADDRESS:BANGLORE,KARNATAKA <br><br>BLOOD GROUP <br><br>A+ : AVAILABLE<br>O+:
                    AVAILABLE <br>B+: AVAILABLE <br>O-: UNAVAILABLE <br>A-: AVAILABLE <br>AB-: AVAILABLE <br>AB+:
                    UNAVAILABL<br>EMAIL:<a href="mailto:contact@memorial.org"> contact@memorial.org</a></div>
            </div>

        </div>
    </div>
    <!--  blood centre ends here -->
</body>

</html>