<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="grad">
    
    {{>navbar}}

    <section>
        <div class="container1">
            <!-- <p class="aim">
                <h1 class="center">OUR MISSION </h1>
            </p> -->
            <div class="containerm">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="animate-charcter"> OUR MISSION </h3>
                    </div>
                </div>
            </div>
            <br>
            <p class="size">We aim to connects nonprofits, donors, and organisations with each other.<br> We help fellow nonprofits access the funding, tools and support they need to serve their communities.<br> The COVID-19 pandemic is one of the worst health and economic
                crises in modern history. <br> It continues to require the best of humanity to overcome this pandemic.<br> Your donation to this fund will help stop the spread of the virus and help poor people to live their life peacefully.
            </p>
        </div>


    </section>
    <!-- <div class="container"> -->
    <div class="items" id="items-1">
        <p class="center">
            <li> ongoing health crisis, and new COVID variants, threaten everyone's way of life. The pandemic is especially difficult for people with pre-existing medical conditions, older adults, individuals experiencing homelessness, persons with disabilities,
                refugees and migrants, wage workers, communities of color, and those with inflexible jobs.</li><br>
            <li>We believe that organizations that are deeply rooted in local communities are best positioned to lead long-term plans to stop COVID-19</li.<br>
                <li> Your donation to this fund will help build stronger response capacities in communities around the world so that we are all better equipped to face future outbreaks.</li><br>
                <li> We will send you regular email updates about how your donation has been put to use.</li><br>
                <li>As the situation evolves, the fund will transition to support longer-term recovery and education efforts run by local, vetted organizations in affected regions</li><br>.
                <li>We will work with our partners on the ground to get funds where they're most needed.Long-Term Impact Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nemo tempora dignissimos alias velit libero incidunt sint. Doloremque vitae
                    mollitia laboriosam quo iure tempora! Recusandae molestias praesentium omnis vitae quos.</p>
        </li>
    </div>
    <div class="items" id="items-2">
        <img class="img" src="/images/img.jpg" alt="image">
    </div>

    <!--   </div> -->
    <div class="cardhead">
        <p>OUR SERVICES</p>
    </div>


    <section>

        <!-- CARD - 1 -->
        <div class=" carda ">
            <div class="card ">
                <div class="card-container ">
                    <div class="card-front ">
                        <img src="/images/covid1.jpg " />
                    </div>
                    <div class="card-back ">
                        <img src="/images/covid.jpg " />
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD - 2 -->
        <div class="cardb ">
            <div class="card ">
                <div class="card-container ">
                    <div class="card-front ">
                        <img src="/images/medicine.jpg " />
                    </div>
                    <div class="card-back ">
                        <img src="/images/med.jpg " />
                    </div>
                </div>
            </div>
        </div>
        <!-- CARD - 3 -->
        <div class="cardc ">
            <div class="card ">
                <div class="card-container ">
                    <div class="card-front ">
                        <img src="/images/donate1.jpg " />
                    </div>
                    <div class="card-back ">
                        <img src="/images/donate.jpg " />
                    </div>
                </div>
            </div>
        </div>
        <!-- CARD - 4 -->
        <div class="cardd ">
            <div class="card ">
                <div class="card-container ">
                    <div class="card-front ">
                        <img src="/images/oxygen.jpg " />
                    </div>
                    <div class="card-back ">
                        <img src="/images/o2.jpg " />
                    </div>
                </div>
            </div>
        </div>
        <!-- CARD - 5 -->
        <div class="carde ">
            <div class="card ">
                <div class="card-container ">
                    <div class="card-front ">
                        <img src="/images/conta.jpg " />
                    </div>
                    <div class="card-back ">
                        <img src="/images/containment.jpg " />
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    <script src="script.js "></script>

</body>

</html>