<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/goodies/style6.css">

</head>
<body>
	<div class="goodies"><h1>GOODIES</h1></div>
	<div class="uk">
		<form>
			<div id="name">
				<h2 class="name">NAME</h2>
				 <input class="Firstname" type="text" name="First name">
				 <label class="firstlabel">First name</label> 
				<input class="Lastname" type="text" name="Last name"> 
				 <label class="Lastlabel">Last name</label>
			</div>
			<h2 class="name">Email</h2>
			<input class="Email" type="text" name="Email"
			placeholder="abc@gmail.com">
			<h2 class="name">Address</h2>
			<input class="address" type="text" name="Address">
			<h2 class="name">Phone</h2>
			<input class="code"  type="text" 
			name="area_code">
			<label class="area_code">Area code</label>
			<input class="number" type="text" name="phone">
			<label class="phone-number">Phone number</label>
			<h2 class="name">Goods category</h2>
			<select class="option" name="subject">
				<option disabled="disabled" selected="selected">....choose option</option>
				<option>clothes</option>
				<option>groceries</option>
				<option>footwear</option>
				<option>Books and Stationaries</option>
				<option>Consumer Electronics</option>
				<option>Sports goods</option>
				<option>Babycare Products</option>
				<option>Electronics</option>
				<option>other goods</option>

				
			</select>
			<button type="submit">Submit></button>




		</form>
		{{!-- <form action="/register" method="POST">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Add</i>
                </div>
                <input id="usn" placeholder="Address" type="text" required class="validate" autocomplete="off" name="usn">
            </div>
            <div class="clearfix"></div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Email</i>
                </div>
                <input id="email" placeholder="Email" type="email" required class="validate" autocomplete="off" name="email">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="Name" placeholder="Name" type="text" required class="validate" autocomplete="off" name="Name">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">B</i>
                </div>
                <input id="Branch" placeholder="Good Category" type="text" required class="validate" autocomplete="off" name="Branch">
            </div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Ph.</i>
                </div>
                <input type="text" id="Phone" placeholder="Phone Number" required class = "validate" autocomplete="off" name="Phone">
            </div>

            

            <input type="submit" value="Register" />
        </form> --}}
	</div>

</body>
</html>