@import url('https: //fonts,googleapis.com/css?family=poppins: 200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}
body
{
	background: linear-gradient( 90deg,#0e3959 0%,#0e3959 20%,#03a9f5 30%,#03a9f5 100%);
}

.contactus
{
	position:  relative;
	width: 100%;
	padding: 40px 100px;
}
.contactus.title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}
.contactus.title h2
{
	color: #fff;
	font-weight: 500;
}
}
.form
{
	/*grid-area: form;*/
	width: 30vw;
}
.info
{
	/*grid-area: info;*/
	width: 40vw;
}
.map
{
	/*grid-area: map;*/
	width: 37vw;
	height: 70vh;
}
.contact{
	padding: 40px;
	background: #fff;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box{
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	 grid-template-rows: 5fr 4fr;
	 grid-template-areas: 
	 "form info"
	 "form map";
     grid-gap:20px ;
	 margin-top: 20px;
	}

	.contact h3
	{
		color: #0e3959;
		font-weight: 500;
		font-size: 1.4em;
		margin-bottom: 10px;
	}
     /*form*/
	.formBox{

		position: relative;
		width: 100%;
	}
	.formbox.row50{

		display: flex;
		gap: 20px;
	}
	.inputBox
	{
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		width: 50%;

	}
	.formBox.row100.inputBox
	{
		width: 100%;
	}
  .inputBox span
  {
  	color: skyblue;
  	margin-top: 10px;
  	margin-bottom: 5px;
  	font-weight:500 ;
  }

  .inputBox input
  {
  	padding:10px ;
  	font-size: 1.1em;
  	outline: none;
  	border: 1px solid #333;
  }

  .inputBox textarea
  {
  	padding: 10px;
  	font-size: 1.1em;
  	outline: none;
  	border: 1px solid #333;
  	resize: none;
  	min-height: 230px;
  	margin-bottom: 10px;
  }
  .inputBox input[type="submit"]
  {
  	background: orangered;
  	color: #fff;
  	border: none;
  	font-size: 1.1em;
  	max-width: 120px;
  	font-weight: 500;
  	cursor: pointer;
  	padding: 14px 15px;
  }
  .inputBox::placeholder
  {
  	color: #999;
  }
  #my-image{

	height: auto;
	width: 100%;
}

#my-image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: 1vh;
	position: relative;
}

#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 60%;
}
.map
{
	padding: 0px;
}
.map iframe
{
	width: 100%;
	height: 100%;
}

/*responsive*/

@media(max-width: 991px)
{
	body
	{
		background: #3a9f5;
	}
	.contactus
	{
		padding: 20px;

	}
	.box
	{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		  "form"
		   "info"
		   "map";
		  
	

	}
	.map{
		min-height: 300px;
	}
	.formBox.row50
	{
		display: flex;
		gap: 0;
		flex-direction: column;
	}
	.inputBox{
		width: 100%;
	}
	.contact
	{
		padding: 30px;
	}
	.map
	{
		min-height: 300px;
		padding: 0;
	}
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Cardo', serif;
    }
.card {
    perspective:130rem;
    position :relative;
    height: 25rem;
    max-width: 300px;
    margin: 0.6rem;
    box-shadow:none;
    background: none;

}
.cardside{
    height: 20rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 1rem;
    color:white;
}
.cardside.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: linear-gradient(43deg,
        #4158D0 0%
        #C850C0 46%
        #FFCC70 100%);

}
.cardside.front {
    background-color:#0093E9;
    background-image: linear-gradient(160deg,
    #0093E9 0%,
    #80D0C7 100%);

}
.card:hover .cardside.front{
    transform: rotateY(180deg);
}
.card:hover .cardside.back{
    transform: rotateY(0deg);
}


 


  